In [167]:
import numpy as np  #importing numpy library.
import pandas as pd #importing pandas library.

In [168]:
dict1 = {
    "name":['Josh', 'Jayshil', 'Pravin', 'Aakash', 'Krenil'],
    "marks":[80, 85, 82, 75, 70],
    "state":['Gujarat','Rajasthan','Tamilnadu', 'Rajasthan', 'Gujarat'] #created a dictionary.
}

In [169]:
df = pd.DataFrame(dict1)    #crated a dataframe with arranged data.

In [170]:
df

      name  marks      state
0     Josh     80    Gujarat
1  Jayshil     85  Rajasthan
2   Pravin     82  Tamilnadu
3   Aakash     75  Rajasthan
4   Krenil     70    Gujarat

In [171]:
df.to_csv('friends.csv')    #crated a csv file and addded data to it.

In [172]:
df.to_csv('friends_indexfalse.csv', index=False)    #created another csv but with no index.

In [173]:
df.head(3)  #first three rows.

      name  marks      state
0     Josh     80    Gujarat
1  Jayshil     85  Rajasthan
2   Pravin     82  Tamilnadu

In [174]:
df.tail(2)  #last two rows.

     name  marks      state
3  Aakash     75  Rajasthan
4  Krenil     70    Gujarat

In [175]:
df.describe()   #analysis the numerical component of dataframe.

          marks
count   5.00000
mean   78.40000
std     5.94138
min    70.00000
25%    75.00000
50%    80.00000
75%    82.00000
max    85.00000

In [176]:
df['marks'] #pulling up the 'marks' column

0    80
1    85
2    82
3    75
4    70
Name: marks, dtype: int64

In [177]:
df['marks'][2]  #pulling out the 3rd component of 'marks' column

82

In [178]:
df['marks'][2] = 80 #changing the very same component's value

C:\Users\joshr\AppData\Local\Temp\ipykernel_15264\336181118.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['marks'][2] = 80 #changing the very same component's value

In [179]:
df  #printed dataframe

      name  marks      state
0     Josh     80    Gujarat
1  Jayshil     85  Rajasthan
2   Pravin     80  Tamilnadu
3   Aakash     75  Rajasthan
4   Krenil     70    Gujarat

In [180]:
df.to_csv('friends.csv')    #pushed the modified data frme to csv file.

In [181]:
df.index = ['A', 'B', 'C', 'D', 'E']    #changed the indexes of dataframe.

In [182]:
df

      name  marks      state
A     Josh     80    Gujarat
B  Jayshil     85  Rajasthan
C   Pravin     80  Tamilnadu
D   Aakash     75  Rajasthan
E   Krenil     70    Gujarat

In [183]:
df.to_csv('friends.csv')    #exported the dtaframe to csv file.

In [184]:
josh = pd.read_csv('friends.csv')   #assigned the csv file to "josh".

In [185]:
josh

  Unnamed: 0     name  marks      state
0          A     Josh     80    Gujarat
1          B  Jayshil     85  Rajasthan
2          C   Pravin     80  Tamilnadu
3          D   Aakash     75  Rajasthan
4          E   Krenil     70    Gujarat

In [186]:
df

      name  marks      state
A     Josh     80    Gujarat
B  Jayshil     85  Rajasthan
C   Pravin     80  Tamilnadu
D   Aakash     75  Rajasthan
E   Krenil     70    Gujarat

In [187]:
df.to_csv('friends_indexfalse.csv', index = False)

In [188]:
ser = pd.Series(np.random.rand(10)) #building a series with random float.

In [189]:
ser

0    0.979722
1    0.129771
2    0.037691
3    0.646451
4    0.091969
5    0.978484
6    0.558504
7    0.107937
8    0.416208
9    0.534058
dtype: float64

In [190]:
type(ser)   #checking the type of ser.

pandas.core.series.Series

In [191]:
Ndf = pd.DataFrame(np.random.rand(350,6)) #created a new dataframe having random 350 rows and 6 columns.

In [192]:
Ndf #printed the dataframe

            0         1         2         3         4         5
0    0.460522  0.023735  0.023922  0.003467  0.223475  0.214936
1    0.143074  0.566355  0.922806  0.996453  0.994594  0.182297
2    0.911312  0.929453  0.651070  0.062087  0.934817  0.157749
3    0.302352  0.989555  0.099927  0.627368  0.323619  0.982855
4    0.706068  0.079963  0.047353  0.222035  0.313806  0.736644
..        ...       ...       ...       ...       ...       ...
345  0.981115  0.216510  0.436618  0.747427  0.718927  0.192555
346  0.771841  0.706455  0.626127  0.167097  0.238163  0.594834
347  0.938269  0.775808  0.604238  0.659407  0.208124  0.013739
348  0.184384  0.957708  0.929145  0.507966  0.562578  0.884637
349  0.598386  0.809559  0.667033  0.103622  0.375437  0.784632

[350 rows x 6 columns]

In [193]:
Ndf.head(6) #pulling first 6 elements of Ndf.

          0         1         2         3         4         5
0  0.460522  0.023735  0.023922  0.003467  0.223475  0.214936
1  0.143074  0.566355  0.922806  0.996453  0.994594  0.182297
2  0.911312  0.929453  0.651070  0.062087  0.934817  0.157749
3  0.302352  0.989555  0.099927  0.627368  0.323619  0.982855
4  0.706068  0.079963  0.047353  0.222035  0.313806  0.736644
5  0.868928  0.793933  0.937846  0.220552  0.452578  0.588884

In [194]:
type(Ndf)   #checking the type of Ndf.

pandas.core.frame.DataFrame

In [195]:
Ndf.describe()  #mathematical attributes of the dataframe.

                0           1           2           3           4           5
count  350.000000  350.000000  350.000000  350.000000  350.000000  350.000000
mean     0.513513    0.506705    0.529661    0.527721    0.503911    0.500343
std      0.293627    0.281742    0.297205    0.285279    0.298448    0.291199
min      0.000880    0.007335    0.002621    0.002326    0.001156    0.001362
25%      0.246212    0.258924    0.279534    0.276865    0.238553    0.253601
50%      0.515244    0.477714    0.557405    0.553126    0.501027    0.485015
75%      0.785580    0.738271    0.788007    0.762845    0.786215    0.772518
max      0.998488    0.999062    0.997836    0.999740    0.999535    0.993626

In [196]:
Ndf.dtypes  #checking the data type of Ndf.

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
dtype: object

In [197]:
Ndf[0][0] = "josh" #changing the first element of 1st row and column to josh.

In [198]:
Ndf #printing the dataframe.

            0         1         2         3         4         5
0        josh  0.023735  0.023922  0.003467  0.223475  0.214936
1    0.143074  0.566355  0.922806  0.996453  0.994594  0.182297
2    0.911312  0.929453  0.651070  0.062087  0.934817  0.157749
3    0.302352  0.989555  0.099927  0.627368  0.323619  0.982855
4    0.706068  0.079963  0.047353  0.222035  0.313806  0.736644
..        ...       ...       ...       ...       ...       ...
345  0.981115  0.216510  0.436618  0.747427  0.718927  0.192555
346  0.771841  0.706455  0.626127  0.167097  0.238163  0.594834
347  0.938269  0.775808  0.604238  0.659407  0.208124  0.013739
348  0.184384  0.957708  0.929145  0.507966  0.562578  0.884637
349  0.598386  0.809559  0.667033  0.103622  0.375437  0.784632

[350 rows x 6 columns]

In [199]:
Ndf.dtypes  #checking the datatype of frame.

0     object
1    float64
2    float64
3    float64
4    float64
5    float64
dtype: object

In [200]:
Ndf.index   #checking the indexes of dataframe.

RangeIndex(start=0, stop=350, step=1)

In [201]:
Ndf.to_numpy()  #converting the dataframe into a numpy array.

array([['josh', 0.023734747478818208, 0.023921911229276116,
        0.0034667104823524753, 0.22347491053549318, 0.21493551870698813],
       [0.14307406926682498, 0.5663550747349605, 0.9228060413158116,
        0.9964526464713157, 0.9945938322080661, 0.18229701241879848],
       [0.911312248190301, 0.9294534196321995, 0.651070167070146,
        0.06208702932711263, 0.9348174859743957, 0.15774913113655542],
       ...,
       [0.9382692414488784, 0.7758079768135193, 0.6042382544333995,
        0.6594065505872367, 0.20812413016268416, 0.013739397126070862],
       [0.18438389089470986, 0.9577076079924398, 0.9291446875401884,
        0.5079658590830891, 0.5625781576319884, 0.884636991848497],
       [0.5983857735541304, 0.8095592816305377, 0.6670334566938099,
        0.10362234699411199, 0.37543700505167, 0.7846323509133175]],
      dtype=object)

In [202]:
Ndf[0][0] = 0.50    #changing the element of 1st row and column to float number.

In [203]:
Ndf #printing dataframe.

            0         1         2         3         4         5
0         0.5  0.023735  0.023922  0.003467  0.223475  0.214936
1    0.143074  0.566355  0.922806  0.996453  0.994594  0.182297
2    0.911312  0.929453  0.651070  0.062087  0.934817  0.157749
3    0.302352  0.989555  0.099927  0.627368  0.323619  0.982855
4    0.706068  0.079963  0.047353  0.222035  0.313806  0.736644
..        ...       ...       ...       ...       ...       ...
345  0.981115  0.216510  0.436618  0.747427  0.718927  0.192555
346  0.771841  0.706455  0.626127  0.167097  0.238163  0.594834
347  0.938269  0.775808  0.604238  0.659407  0.208124  0.013739
348  0.184384  0.957708  0.929145  0.507966  0.562578  0.884637
349  0.598386  0.809559  0.667033  0.103622  0.375437  0.784632

[350 rows x 6 columns]

In [204]:
Ndf.to_numpy()  #converting dataframe to numpy array.

array([[0.5, 0.023734747478818208, 0.023921911229276116,
        0.0034667104823524753, 0.22347491053549318, 0.21493551870698813],
       [0.14307406926682498, 0.5663550747349605, 0.9228060413158116,
        0.9964526464713157, 0.9945938322080661, 0.18229701241879848],
       [0.911312248190301, 0.9294534196321995, 0.651070167070146,
        0.06208702932711263, 0.9348174859743957, 0.15774913113655542],
       ...,
       [0.9382692414488784, 0.7758079768135193, 0.6042382544333995,
        0.6594065505872367, 0.20812413016268416, 0.013739397126070862],
       [0.18438389089470986, 0.9577076079924398, 0.9291446875401884,
        0.5079658590830891, 0.5625781576319884, 0.884636991848497],
       [0.5983857735541304, 0.8095592816305377, 0.6670334566938099,
        0.10362234699411199, 0.37543700505167, 0.7846323509133175]],
      dtype=object)

In [205]:
Ndf.T   #transpose of the dataframe(rows to column, column to rows).

,0,1,2,3,4,5,6,7,8,9,...,340,341,342,343,344,345,346,347,348,349
0,0.5,0.143074,0.911312,0.302352,0.706068,0.868928,0.11973,0.568458,0.920484,0.696229,...,0.709762,0.013021,0.771975,0.833497,0.480043,0.981115,0.771841,0.938269,0.184384,0.598386
1,0.023735,0.566355,0.929453,0.989555,0.079963,0.793933,0.505346,0.691697,0.166445,0.722605,...,0.208569,0.339995,0.229541,0.926883,0.238897,0.21651,0.706455,0.775808,0.957708,0.809559
2,0.023922,0.922806,0.65107,0.099927,0.047353,0.937846,0.947007,0.395539,0.650196,0.691132,...,0.090241,0.976908,0.209582,0.454689,0.304756,0.436618,0.626127,0.604238,0.929145,0.667033
3,0.003467,0.996453,0.062087,0.627368,0.222035,0.220552,0.629352,0.406609,0.524294,0.330994,...,0.596906,0.571379,0.753231,0.668215,0.842542,0.747427,0.167097,0.659407,0.507966,0.103622
4,0.223475,0.994594,0.934817,0.323619,0.313806,0.452578,0.400749,0.919966,0.843891,0.955379,...,0.030331,0.697298,0.905973,0.384944,0.221091,0.718927,0.238163,0.208124,0.562578,0.375437
5,0.214936,0.182297,0.157749,0.982855,0.736644,0.588884,0.001839,0.045841,0.715497,0.69643,...,0.277853,0.387426,0.851276,0.728278,0.6555,0.192555,0.594834,0.013739,0.884637,0.784632

In [206]:
Ndf.head()  #printing first 5

          0         1         2         3         4         5
0       0.5  0.023735  0.023922  0.003467  0.223475  0.214936
1  0.143074  0.566355  0.922806  0.996453  0.994594  0.182297
2  0.911312  0.929453  0.651070  0.062087  0.934817  0.157749
3  0.302352  0.989555  0.099927  0.627368  0.323619  0.982855
4  0.706068  0.079963  0.047353  0.222035  0.313806  0.736644

In [207]:
Ndf.sort_index(axis=0 , ascending=False)    #sorting rows(axis=0) into descending manner.

            0         1         2         3         4         5
349  0.598386  0.809559  0.667033  0.103622  0.375437  0.784632
348  0.184384  0.957708  0.929145  0.507966  0.562578  0.884637
347  0.938269  0.775808  0.604238  0.659407  0.208124  0.013739
346  0.771841  0.706455  0.626127  0.167097  0.238163  0.594834
345  0.981115  0.216510  0.436618  0.747427  0.718927  0.192555
..        ...       ...       ...       ...       ...       ...
4    0.706068  0.079963  0.047353  0.222035  0.313806  0.736644
3    0.302352  0.989555  0.099927  0.627368  0.323619  0.982855
2    0.911312  0.929453  0.651070  0.062087  0.934817  0.157749
1    0.143074  0.566355  0.922806  0.996453  0.994594  0.182297
0         0.5  0.023735  0.023922  0.003467  0.223475  0.214936

[350 rows x 6 columns]

In [208]:
Ndf.sort_index(axis=1 , ascending=False)    #sorting column(axis=1) into descending manner.

            5         4         3         2         1         0
0    0.214936  0.223475  0.003467  0.023922  0.023735       0.5
1    0.182297  0.994594  0.996453  0.922806  0.566355  0.143074
2    0.157749  0.934817  0.062087  0.651070  0.929453  0.911312
3    0.982855  0.323619  0.627368  0.099927  0.989555  0.302352
4    0.736644  0.313806  0.222035  0.047353  0.079963  0.706068
..        ...       ...       ...       ...       ...       ...
345  0.192555  0.718927  0.747427  0.436618  0.216510  0.981115
346  0.594834  0.238163  0.167097  0.626127  0.706455  0.771841
347  0.013739  0.208124  0.659407  0.604238  0.775808  0.938269
348  0.884637  0.562578  0.507966  0.929145  0.957708  0.184384
349  0.784632  0.375437  0.103622  0.667033  0.809559  0.598386

[350 rows x 6 columns]

In [209]:
Ndf2 = Ndf  #pointing Ndf with Ndf2.

In [210]:
Ndf2    #printing Ndf2.

            0         1         2         3         4         5
0         0.5  0.023735  0.023922  0.003467  0.223475  0.214936
1    0.143074  0.566355  0.922806  0.996453  0.994594  0.182297
2    0.911312  0.929453  0.651070  0.062087  0.934817  0.157749
3    0.302352  0.989555  0.099927  0.627368  0.323619  0.982855
4    0.706068  0.079963  0.047353  0.222035  0.313806  0.736644
..        ...       ...       ...       ...       ...       ...
345  0.981115  0.216510  0.436618  0.747427  0.718927  0.192555
346  0.771841  0.706455  0.626127  0.167097  0.238163  0.594834
347  0.938269  0.775808  0.604238  0.659407  0.208124  0.013739
348  0.184384  0.957708  0.929145  0.507966  0.562578  0.884637
349  0.598386  0.809559  0.667033  0.103622  0.375437  0.784632

[350 rows x 6 columns]

In [211]:
Ndf2[0][0] = 0.8    #changing the value of 1st row and column element of Ndf2.

In [212]:
Ndf #printing ndf.

            0         1         2         3         4         5
0         0.8  0.023735  0.023922  0.003467  0.223475  0.214936
1    0.143074  0.566355  0.922806  0.996453  0.994594  0.182297
2    0.911312  0.929453  0.651070  0.062087  0.934817  0.157749
3    0.302352  0.989555  0.099927  0.627368  0.323619  0.982855
4    0.706068  0.079963  0.047353  0.222035  0.313806  0.736644
..        ...       ...       ...       ...       ...       ...
345  0.981115  0.216510  0.436618  0.747427  0.718927  0.192555
346  0.771841  0.706455  0.626127  0.167097  0.238163  0.594834
347  0.938269  0.775808  0.604238  0.659407  0.208124  0.013739
348  0.184384  0.957708  0.929145  0.507966  0.562578  0.884637
349  0.598386  0.809559  0.667033  0.103622  0.375437  0.784632

[350 rows x 6 columns]

In [213]:
Ndf2 = Ndf.copy()   #instead of pointing, a new dataframe is created using Ndf's data.

In [214]:
Ndf2[0][0] = 0.9    #changing the value of 1st row and column element of Ndf2.

C:\Users\joshr\AppData\Local\Temp\ipykernel_15264\3925233646.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ndf2[0][0] = 0.9    #changing the value of 1st row and column element of Ndf2.

In [215]:
Ndf #printing Ndf.

            0         1         2         3         4         5
0         0.8  0.023735  0.023922  0.003467  0.223475  0.214936
1    0.143074  0.566355  0.922806  0.996453  0.994594  0.182297
2    0.911312  0.929453  0.651070  0.062087  0.934817  0.157749
3    0.302352  0.989555  0.099927  0.627368  0.323619  0.982855
4    0.706068  0.079963  0.047353  0.222035  0.313806  0.736644
..        ...       ...       ...       ...       ...       ...
345  0.981115  0.216510  0.436618  0.747427  0.718927  0.192555
346  0.771841  0.706455  0.626127  0.167097  0.238163  0.594834
347  0.938269  0.775808  0.604238  0.659407  0.208124  0.013739
348  0.184384  0.957708  0.929145  0.507966  0.562578  0.884637
349  0.598386  0.809559  0.667033  0.103622  0.375437  0.784632

[350 rows x 6 columns]

In [216]:
Ndf.loc[0,0] = 0.10 #changing value using loc so the warning does not come up.

In [217]:
Ndf #printing Ndf.

            0         1         2         3         4         5
0         0.1  0.023735  0.023922  0.003467  0.223475  0.214936
1    0.143074  0.566355  0.922806  0.996453  0.994594  0.182297
2    0.911312  0.929453  0.651070  0.062087  0.934817  0.157749
3    0.302352  0.989555  0.099927  0.627368  0.323619  0.982855
4    0.706068  0.079963  0.047353  0.222035  0.313806  0.736644
..        ...       ...       ...       ...       ...       ...
345  0.981115  0.216510  0.436618  0.747427  0.718927  0.192555
346  0.771841  0.706455  0.626127  0.167097  0.238163  0.594834
347  0.938269  0.775808  0.604238  0.659407  0.208124  0.013739
348  0.184384  0.957708  0.929145  0.507966  0.562578  0.884637
349  0.598386  0.809559  0.667033  0.103622  0.375437  0.784632

[350 rows x 6 columns]

In [218]:
Ndf.loc[[1,2],[2,3]]    #printing common elements of 1st and 2nd row and 2nd and 3rd column.

          2         3
1  0.922806  0.996453
2  0.651070  0.062087

In [219]:
Ndf.loc[[1,2],:]    #printing content of 1st and 2nd column.

          0         1         2         3         4         5
1  0.143074  0.566355  0.922806  0.996453  0.994594  0.182297
2  0.911312  0.929453  0.651070  0.062087  0.934817  0.157749

In [220]:
Ndf.loc[:,[2,3]]    #printing content of 2nd and 3rd column.

            2         3
0    0.023922  0.003467
1    0.922806  0.996453
2    0.651070  0.062087
3    0.099927  0.627368
4    0.047353  0.222035
..        ...       ...
345  0.436618  0.747427
346  0.626127  0.167097
347  0.604238  0.659407
348  0.929145  0.507966
349  0.667033  0.103622

[350 rows x 2 columns]

In [221]:
Ndf.loc[(Ndf[0]<0.02)]  #printing values where the values of oth column are less than 0.02.

            0         1         2         3         4         5
96   0.016758  0.618789  0.996708  0.845039  0.336344  0.668202
133  0.008994  0.697920  0.772551  0.437351  0.949904  0.653311
200   0.00088  0.631508  0.939123  0.317513  0.523611  0.244427
327  0.016104  0.225472  0.816083  0.581831  0.964331  0.458459
341  0.013021  0.339995  0.976908  0.571379  0.697298  0.387426

In [222]:
Ndf.loc[(Ndf[0]<0.02) & (Ndf[3]<0.3)]   #printing values where values of 0th column are less than 0.02 and 3rd are less than 0.3.

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5]
Index: []

In [223]:
Ndf.drop([1])   #dropped first row from the dataframe (axis = 0 by default)

            0         1         2         3         4         5
0         0.1  0.023735  0.023922  0.003467  0.223475  0.214936
2    0.911312  0.929453  0.651070  0.062087  0.934817  0.157749
3    0.302352  0.989555  0.099927  0.627368  0.323619  0.982855
4    0.706068  0.079963  0.047353  0.222035  0.313806  0.736644
5    0.868928  0.793933  0.937846  0.220552  0.452578  0.588884
..        ...       ...       ...       ...       ...       ...
345  0.981115  0.216510  0.436618  0.747427  0.718927  0.192555
346  0.771841  0.706455  0.626127  0.167097  0.238163  0.594834
347  0.938269  0.775808  0.604238  0.659407  0.208124  0.013739
348  0.184384  0.957708  0.929145  0.507966  0.562578  0.884637
349  0.598386  0.809559  0.667033  0.103622  0.375437  0.784632

[349 rows x 6 columns]

In [224]:
Ndf.drop([3], axis = 1) #dropped 3rd column(axis = 1).

            0         1         2         4         5
0         0.1  0.023735  0.023922  0.223475  0.214936
1    0.143074  0.566355  0.922806  0.994594  0.182297
2    0.911312  0.929453  0.651070  0.934817  0.157749
3    0.302352  0.989555  0.099927  0.323619  0.982855
4    0.706068  0.079963  0.047353  0.313806  0.736644
..        ...       ...       ...       ...       ...
345  0.981115  0.216510  0.436618  0.718927  0.192555
346  0.771841  0.706455  0.626127  0.238163  0.594834
347  0.938269  0.775808  0.604238  0.208124  0.013739
348  0.184384  0.957708  0.929145  0.562578  0.884637
349  0.598386  0.809559  0.667033  0.375437  0.784632

[350 rows x 5 columns]

In [225]:
Ndf.drop([3,2], axis = 0)   #dropped 3rd and 2nd row from the dataframe(axis = 0).

            0         1         2         3         4         5
0         0.1  0.023735  0.023922  0.003467  0.223475  0.214936
1    0.143074  0.566355  0.922806  0.996453  0.994594  0.182297
4    0.706068  0.079963  0.047353  0.222035  0.313806  0.736644
5    0.868928  0.793933  0.937846  0.220552  0.452578  0.588884
6     0.11973  0.505346  0.947007  0.629352  0.400749  0.001839
..        ...       ...       ...       ...       ...       ...
345  0.981115  0.216510  0.436618  0.747427  0.718927  0.192555
346  0.771841  0.706455  0.626127  0.167097  0.238163  0.594834
347  0.938269  0.775808  0.604238  0.659407  0.208124  0.013739
348  0.184384  0.957708  0.929145  0.507966  0.562578  0.884637
349  0.598386  0.809559  0.667033  0.103622  0.375437  0.784632

[348 rows x 6 columns]

In [226]:
Ndf = Ndf.drop([3,2], axis = 0) #made permenant changes in the dataframe by storing the change.

In [227]:
Ndf #printed dataframe.

            0         1         2         3         4         5
0         0.1  0.023735  0.023922  0.003467  0.223475  0.214936
1    0.143074  0.566355  0.922806  0.996453  0.994594  0.182297
4    0.706068  0.079963  0.047353  0.222035  0.313806  0.736644
5    0.868928  0.793933  0.937846  0.220552  0.452578  0.588884
6     0.11973  0.505346  0.947007  0.629352  0.400749  0.001839
..        ...       ...       ...       ...       ...       ...
345  0.981115  0.216510  0.436618  0.747427  0.718927  0.192555
346  0.771841  0.706455  0.626127  0.167097  0.238163  0.594834
347  0.938269  0.775808  0.604238  0.659407  0.208124  0.013739
348  0.184384  0.957708  0.929145  0.507966  0.562578  0.884637
349  0.598386  0.809559  0.667033  0.103622  0.375437  0.784632

[348 rows x 6 columns]

In [228]:
Ndf.head()  #first 5 rows of dataframe.

          0         1         2         3         4         5
0       0.1  0.023735  0.023922  0.003467  0.223475  0.214936
1  0.143074  0.566355  0.922806  0.996453  0.994594  0.182297
4  0.706068  0.079963  0.047353  0.222035  0.313806  0.736644
5  0.868928  0.793933  0.937846  0.220552  0.452578  0.588884
6   0.11973  0.505346  0.947007  0.629352  0.400749  0.001839

In [229]:
Ndf.reset_index()   #reseted the index.

     index         0         1         2         3         4         5
0        0       0.1  0.023735  0.023922  0.003467  0.223475  0.214936
1        1  0.143074  0.566355  0.922806  0.996453  0.994594  0.182297
2        4  0.706068  0.079963  0.047353  0.222035  0.313806  0.736644
3        5  0.868928  0.793933  0.937846  0.220552  0.452578  0.588884
4        6   0.11973  0.505346  0.947007  0.629352  0.400749  0.001839
..     ...       ...       ...       ...       ...       ...       ...
343    345  0.981115  0.216510  0.436618  0.747427  0.718927  0.192555
344    346  0.771841  0.706455  0.626127  0.167097  0.238163  0.594834
345    347  0.938269  0.775808  0.604238  0.659407  0.208124  0.013739
346    348  0.184384  0.957708  0.929145  0.507966  0.562578  0.884637
347    349  0.598386  0.809559  0.667033  0.103622  0.375437  0.784632

[348 rows x 7 columns]

In [230]:
Ndf.reset_index(drop = True)    #dropped the unwanted index column which was created.

            0         1         2         3         4         5
0         0.1  0.023735  0.023922  0.003467  0.223475  0.214936
1    0.143074  0.566355  0.922806  0.996453  0.994594  0.182297
2    0.706068  0.079963  0.047353  0.222035  0.313806  0.736644
3    0.868928  0.793933  0.937846  0.220552  0.452578  0.588884
4     0.11973  0.505346  0.947007  0.629352  0.400749  0.001839
..        ...       ...       ...       ...       ...       ...
343  0.981115  0.216510  0.436618  0.747427  0.718927  0.192555
344  0.771841  0.706455  0.626127  0.167097  0.238163  0.594834
345  0.938269  0.775808  0.604238  0.659407  0.208124  0.013739
346  0.184384  0.957708  0.929145  0.507966  0.562578  0.884637
347  0.598386  0.809559  0.667033  0.103622  0.375437  0.784632

[348 rows x 6 columns]

In [231]:
Ndf = Ndf.reset_index(drop = True)  #stored the changed index in main dataframe.

In [232]:
Ndf[2].isnull() #checking whether there in any null values in column 2.

0      False
1      False
2      False
3      False
4      False
       ...
343    False
344    False
345    False
346    False
347    False
Name: 2, Length: 348, dtype: bool

In [233]:
Ndf #printed dataframe.

            0         1         2         3         4         5
0         0.1  0.023735  0.023922  0.003467  0.223475  0.214936
1    0.143074  0.566355  0.922806  0.996453  0.994594  0.182297
2    0.706068  0.079963  0.047353  0.222035  0.313806  0.736644
3    0.868928  0.793933  0.937846  0.220552  0.452578  0.588884
4     0.11973  0.505346  0.947007  0.629352  0.400749  0.001839
..        ...       ...       ...       ...       ...       ...
343  0.981115  0.216510  0.436618  0.747427  0.718927  0.192555
344  0.771841  0.706455  0.626127  0.167097  0.238163  0.594834
345  0.938269  0.775808  0.604238  0.659407  0.208124  0.013739
346  0.184384  0.957708  0.929145  0.507966  0.562578  0.884637
347  0.598386  0.809559  0.667033  0.103622  0.375437  0.784632

[348 rows x 6 columns]

In [240]:
Ndf.loc[:, [2]] = None  #assigning "none" to every element of column 2.

In [241]:
Ndf[2].isnull() ##checking whether there in any null values in column 2.

0      True
1      True
2      True
3      True
4      True
       ...
343    True
344    True
345    True
346    True
347    True
Name: 2, Length: 348, dtype: bool

In [242]:
Ndf #printed dataframe.

            0         1     2         3         4         5
0         0.1  0.023735  None  0.003467  0.223475  0.214936
1    0.143074  0.566355  None  0.996453  0.994594  0.182297
2    0.706068  0.079963  None  0.222035  0.313806  0.736644
3    0.868928  0.793933  None  0.220552  0.452578  0.588884
4     0.11973  0.505346  None  0.629352  0.400749  0.001839
..        ...       ...   ...       ...       ...       ...
343  0.981115  0.216510  None  0.747427  0.718927  0.192555
344  0.771841  0.706455  None  0.167097  0.238163  0.594834
345  0.938269  0.775808  None  0.659407  0.208124  0.013739
346  0.184384  0.957708  None  0.507966  0.562578  0.884637
347  0.598386  0.809559  None  0.103622  0.375437  0.784632

[348 rows x 6 columns]

In [243]:
Ndf.loc[:, [2]] = 0.34  #assigning a value to every element of column 2.

In [244]:
Ndf #printed  dataframe.

            0         1     2         3         4         5
0         0.1  0.023735  0.34  0.003467  0.223475  0.214936
1    0.143074  0.566355  0.34  0.996453  0.994594  0.182297
2    0.706068  0.079963  0.34  0.222035  0.313806  0.736644
3    0.868928  0.793933  0.34  0.220552  0.452578  0.588884
4     0.11973  0.505346  0.34  0.629352  0.400749  0.001839
..        ...       ...   ...       ...       ...       ...
343  0.981115  0.216510  0.34  0.747427  0.718927  0.192555
344  0.771841  0.706455  0.34  0.167097  0.238163  0.594834
345  0.938269  0.775808  0.34  0.659407  0.208124  0.013739
346  0.184384  0.957708  0.34  0.507966  0.562578  0.884637
347  0.598386  0.809559  0.34  0.103622  0.375437  0.784632

[348 rows x 6 columns]

In [245]:
Ndf.head()  #pulled first 5 rows from top.

          0         1     2         3         4         5
0       0.1  0.023735  0.34  0.003467  0.223475  0.214936
1  0.143074  0.566355  0.34  0.996453  0.994594  0.182297
2  0.706068  0.079963  0.34  0.222035  0.313806  0.736644
3  0.868928  0.793933  0.34  0.220552  0.452578  0.588884
4   0.11973  0.505346  0.34  0.629352  0.400749  0.001839

In [247]:
Ndf.shape   #number of rows and columns in dataframe.

(348, 6)

In [248]:
Ndf.info()  #information regarding dataframe.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       348 non-null    object
 1   1       348 non-null    float64
 2   2       348 non-null    float64
 3   3       348 non-null    float64
 4   4       348 non-null    float64
 5   5       348 non-null    float64
dtypes: float64(5), object(1)
memory usage: 16.4+ KB

In [250]:
dict2 = {
    "column1" : [1, 2, 3],
    "column2" : [4,5,6]
}   #created a dictionary.

In [251]:
Ndf3 = pd.DataFrame(dict2)  #converted dictionary to a dataframe.

In [252]:
Ndf3    #printed dataframe.

   column1  column2
0        1        4
1        2        5
2        3        6

In [253]:
Ndf3.describe() #mathematical information of dataframe.

       column1  column2
count      3.0      3.0
mean       2.0      5.0
std        1.0      1.0
min        1.0      4.0
25%        1.5      4.5
50%        2.0      5.0
75%        2.5      5.5
max        3.0      6.0

In [254]:
Ndf3.min()  #smallest values from each column.

column1    1
column2    4
dtype: int64

In [255]:
Ndf3.max()  #biggest values from each columns.

column1    3
column2    6
dtype: int64

In [256]:
Ndf3.mean() #mean of each column's data.

column1    2.0
column2    5.0
dtype: float64

In [257]:
Ndf3.corr() #__________________________________________

         column1  column2
column1      1.0      1.0
column2      1.0      1.0

In [258]:
Ndf3.std()  #returns standard deviation of each column.

column1    1.0
column2    1.0
dtype: float64

In [262]:
Ndf3.count()    #counts Non-Na values form each column.

column1    3
column2    3
dtype: int64