In [84]:
import numpy as np  #importing numpy library.
import pandas as pd #importing pandas library.

In [85]:
dict1 = {
    "name":['Josh', 'Jayshil', 'Pravin', 'Aakash', 'Krenil'],
    "marks":[80, 85, 82, 75, 70],
    "state":['Gujarat','Rajasthan','Tamilnadu', 'Rajasthan', 'Gujarat'] #created a dictionary.
}

In [86]:
df = pd.DataFrame(dict1)    #crated a dataframe with arranged data.

In [87]:
df

      name  marks      state
0     Josh     80    Gujarat
1  Jayshil     85  Rajasthan
2   Pravin     82  Tamilnadu
3   Aakash     75  Rajasthan
4   Krenil     70    Gujarat

In [88]:
df.to_csv('friends.csv')    #crated a csv file and addded data to it.

In [89]:
df.to_csv('friends_indexfalse.csv', index=False)    #created another csv but with no index.

In [90]:
df.head(3)  #first three rows.

      name  marks      state
0     Josh     80    Gujarat
1  Jayshil     85  Rajasthan
2   Pravin     82  Tamilnadu

In [91]:
df.tail(2)  #last two rows.

     name  marks      state
3  Aakash     75  Rajasthan
4  Krenil     70    Gujarat

In [92]:
df.describe()   #analysis the numerical component of dataframe.

          marks
count   5.00000
mean   78.40000
std     5.94138
min    70.00000
25%    75.00000
50%    80.00000
75%    82.00000
max    85.00000

In [93]:
df['marks'] #pulling up the 'marks' column

0    80
1    85
2    82
3    75
4    70
Name: marks, dtype: int64

In [94]:
df['marks'][2]  #pulling out the 3rd component of 'marks' column

82

In [95]:
df['marks'][2] = 80 #changing the very same component's value

C:\Users\joshr\AppData\Local\Temp\ipykernel_15264\336181118.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['marks'][2] = 80 #changing the very same component's value

In [96]:
df  #printed dataframe

      name  marks      state
0     Josh     80    Gujarat
1  Jayshil     85  Rajasthan
2   Pravin     80  Tamilnadu
3   Aakash     75  Rajasthan
4   Krenil     70    Gujarat

In [97]:
df.to_csv('friends.csv')    #pushed the modified data frme to csv file.

In [98]:
df.index = ['A', 'B', 'C', 'D', 'E']    #changed the indexes of dataframe.

In [99]:
df

      name  marks      state
A     Josh     80    Gujarat
B  Jayshil     85  Rajasthan
C   Pravin     80  Tamilnadu
D   Aakash     75  Rajasthan
E   Krenil     70    Gujarat

In [100]:
df.to_csv('friends.csv')    #exported the dtaframe to csv file.

In [101]:
josh = pd.read_csv('friends.csv')   #assigned the csv file to "josh".

In [102]:
josh

  Unnamed: 0     name  marks      state
0          A     Josh     80    Gujarat
1          B  Jayshil     85  Rajasthan
2          C   Pravin     80  Tamilnadu
3          D   Aakash     75  Rajasthan
4          E   Krenil     70    Gujarat

In [103]:
df

      name  marks      state
A     Josh     80    Gujarat
B  Jayshil     85  Rajasthan
C   Pravin     80  Tamilnadu
D   Aakash     75  Rajasthan
E   Krenil     70    Gujarat

In [104]:
df.to_csv('friends_indexfalse.csv', index = False)

In [105]:
ser = pd.Series(np.random.rand(10)) #building a series with random float.

In [106]:
ser

0    0.738158
1    0.615063
2    0.051105
3    0.201560
4    0.778622
5    0.417321
6    0.357702
7    0.605817
8    0.471479
9    0.558265
dtype: float64

In [107]:
type(ser)   #checking the type of ser.

pandas.core.series.Series

In [108]:
Ndf = pd.DataFrame(np.random.rand(350,6)) #created a new dataframe having random 350 rows and 6 columns.

In [109]:
Ndf #printed the dataframe

            0         1         2         3         4         5
0    0.005269  0.984914  0.561820  0.402945  0.852868  0.239163
1    0.464619  0.911924  0.268208  0.864268  0.058634  0.433188
2    0.226165  0.180031  0.714079  0.219678  0.199918  0.509620
3    0.322480  0.506016  0.441003  0.950271  0.039716  0.618518
4    0.984805  0.398314  0.313006  0.273240  0.512593  0.804962
..        ...       ...       ...       ...       ...       ...
345  0.715439  0.891155  0.704797  0.844065  0.674469  0.950799
346  0.576080  0.719871  0.730315  0.143528  0.670447  0.416118
347  0.287383  0.216209  0.653496  0.613499  0.550063  0.215589
348  0.321683  0.746668  0.006365  0.887048  0.902826  0.759350
349  0.045646  0.333332  0.265889  0.256471  0.782872  0.768901

[350 rows x 6 columns]

In [110]:
Ndf.head(6) #pulling first 6 elements of Ndf.

          0         1         2         3         4         5
0  0.005269  0.984914  0.561820  0.402945  0.852868  0.239163
1  0.464619  0.911924  0.268208  0.864268  0.058634  0.433188
2  0.226165  0.180031  0.714079  0.219678  0.199918  0.509620
3  0.322480  0.506016  0.441003  0.950271  0.039716  0.618518
4  0.984805  0.398314  0.313006  0.273240  0.512593  0.804962
5  0.083118  0.416641  0.431660  0.676100  0.719642  0.097066

In [111]:
type(Ndf)   #checking the type of Ndf.

pandas.core.frame.DataFrame

In [112]:
Ndf.describe()  #mathematical attributes of the dataframe.

                0           1           2           3           4           5
count  350.000000  350.000000  350.000000  350.000000  350.000000  350.000000
mean     0.458334    0.507735    0.487667    0.498637    0.494515    0.503110
std      0.288016    0.297330    0.292256    0.283160    0.298732    0.293663
min      0.000213    0.002092    0.001936    0.000230    0.001392    0.003675
25%      0.210824    0.246577    0.232621    0.261485    0.206833    0.250114
50%      0.427113    0.512807    0.477405    0.476844    0.497735    0.504846
75%      0.668993    0.763897    0.731015    0.738821    0.761898    0.758795
max      0.994147    0.997405    0.995388    0.995992    0.995007    0.998269

In [113]:
Ndf.dtypes  #checking the data type of Ndf.

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
dtype: object

In [114]:
Ndf[0][0] = "josh" #changing the first element of 1st row and column to josh.

In [115]:
Ndf #printing the dataframe.

            0         1         2         3         4         5
0        josh  0.984914  0.561820  0.402945  0.852868  0.239163
1    0.464619  0.911924  0.268208  0.864268  0.058634  0.433188
2    0.226165  0.180031  0.714079  0.219678  0.199918  0.509620
3     0.32248  0.506016  0.441003  0.950271  0.039716  0.618518
4    0.984805  0.398314  0.313006  0.273240  0.512593  0.804962
..        ...       ...       ...       ...       ...       ...
345  0.715439  0.891155  0.704797  0.844065  0.674469  0.950799
346   0.57608  0.719871  0.730315  0.143528  0.670447  0.416118
347  0.287383  0.216209  0.653496  0.613499  0.550063  0.215589
348  0.321683  0.746668  0.006365  0.887048  0.902826  0.759350
349  0.045646  0.333332  0.265889  0.256471  0.782872  0.768901

[350 rows x 6 columns]

In [116]:
Ndf.dtypes  #checking the datatype of frame.

0     object
1    float64
2    float64
3    float64
4    float64
5    float64
dtype: object

In [117]:
Ndf.index   #checking the indexes of dataframe.

RangeIndex(start=0, stop=350, step=1)

In [118]:
Ndf.to_numpy()  #converting the dataframe into a numpy array.

array([['josh', 0.9849143073882524, 0.5618203234157003,
        0.4029454731117822, 0.8528684781646958, 0.23916255014576593],
       [0.4646188681391914, 0.9119243169264034, 0.2682079931839254,
        0.8642676976373035, 0.05863356558012622, 0.4331876763172491],
       [0.22616526646665958, 0.18003128405912672, 0.7140788490045806,
        0.21967837194982953, 0.19991777880237593, 0.5096200419098098],
       ...,
       [0.2873833628552418, 0.21620949602613948, 0.6534962324945219,
        0.6134992520561545, 0.5500632792790013, 0.21558908341369387],
       [0.32168317772086485, 0.7466679420023022, 0.006365000937185283,
        0.8870479795082572, 0.9028256389333859, 0.7593496868703222],
       [0.045645784610125695, 0.33333165694683464, 0.2658887414085612,
        0.25647112254893834, 0.7828722088880633, 0.7689010440746503]],
      dtype=object)

In [119]:
Ndf[0][0] = 0.50    #changing the element of 1st row and column to float number.

In [120]:
Ndf #printing dataframe.

            0         1         2         3         4         5
0         0.5  0.984914  0.561820  0.402945  0.852868  0.239163
1    0.464619  0.911924  0.268208  0.864268  0.058634  0.433188
2    0.226165  0.180031  0.714079  0.219678  0.199918  0.509620
3     0.32248  0.506016  0.441003  0.950271  0.039716  0.618518
4    0.984805  0.398314  0.313006  0.273240  0.512593  0.804962
..        ...       ...       ...       ...       ...       ...
345  0.715439  0.891155  0.704797  0.844065  0.674469  0.950799
346   0.57608  0.719871  0.730315  0.143528  0.670447  0.416118
347  0.287383  0.216209  0.653496  0.613499  0.550063  0.215589
348  0.321683  0.746668  0.006365  0.887048  0.902826  0.759350
349  0.045646  0.333332  0.265889  0.256471  0.782872  0.768901

[350 rows x 6 columns]

In [121]:
Ndf.to_numpy()  #converting dataframe to numpy array.

array([[0.5, 0.9849143073882524, 0.5618203234157003, 0.4029454731117822,
        0.8528684781646958, 0.23916255014576593],
       [0.4646188681391914, 0.9119243169264034, 0.2682079931839254,
        0.8642676976373035, 0.05863356558012622, 0.4331876763172491],
       [0.22616526646665958, 0.18003128405912672, 0.7140788490045806,
        0.21967837194982953, 0.19991777880237593, 0.5096200419098098],
       ...,
       [0.2873833628552418, 0.21620949602613948, 0.6534962324945219,
        0.6134992520561545, 0.5500632792790013, 0.21558908341369387],
       [0.32168317772086485, 0.7466679420023022, 0.006365000937185283,
        0.8870479795082572, 0.9028256389333859, 0.7593496868703222],
       [0.045645784610125695, 0.33333165694683464, 0.2658887414085612,
        0.25647112254893834, 0.7828722088880633, 0.7689010440746503]],
      dtype=object)

In [122]:
Ndf.T   #transpose of the dataframe(rows to column, column to rows).

,0,1,2,3,4,5,6,7,8,9,...,340,341,342,343,344,345,346,347,348,349
0,0.5,0.464619,0.226165,0.32248,0.984805,0.083118,0.163245,0.025079,0.281264,0.344853,...,0.058179,0.592667,0.31149,0.836862,0.858109,0.715439,0.57608,0.287383,0.321683,0.045646
1,0.984914,0.911924,0.180031,0.506016,0.398314,0.416641,0.993502,0.141241,0.919348,0.260951,...,0.768568,0.153615,0.151551,0.145962,0.124472,0.891155,0.719871,0.216209,0.746668,0.333332
2,0.56182,0.268208,0.714079,0.441003,0.313006,0.43166,0.500946,0.995388,0.192838,0.806318,...,0.992103,0.258754,0.855511,0.19477,0.953153,0.704797,0.730315,0.653496,0.006365,0.265889
3,0.402945,0.864268,0.219678,0.950271,0.27324,0.6761,0.162928,0.163417,0.123388,0.604447,...,0.600142,0.116443,0.43165,0.505609,0.221327,0.844065,0.143528,0.613499,0.887048,0.256471
4,0.852868,0.058634,0.199918,0.039716,0.512593,0.719642,0.104203,0.605852,0.584744,0.909945,...,0.536839,0.31116,0.267857,0.694441,0.749719,0.674469,0.670447,0.550063,0.902826,0.782872
5,0.239163,0.433188,0.50962,0.618518,0.804962,0.097066,0.911941,0.011725,0.927248,0.328928,...,0.651024,0.488995,0.427124,0.020017,0.721018,0.950799,0.416118,0.215589,0.75935,0.768901

In [123]:
Ndf.head()  #printing first 5

          0         1         2         3         4         5
0       0.5  0.984914  0.561820  0.402945  0.852868  0.239163
1  0.464619  0.911924  0.268208  0.864268  0.058634  0.433188
2  0.226165  0.180031  0.714079  0.219678  0.199918  0.509620
3   0.32248  0.506016  0.441003  0.950271  0.039716  0.618518
4  0.984805  0.398314  0.313006  0.273240  0.512593  0.804962

In [124]:
Ndf.sort_index(axis=0 , ascending=False)    #sorting rows(axis=0) into descending manner.

            0         1         2         3         4         5
349  0.045646  0.333332  0.265889  0.256471  0.782872  0.768901
348  0.321683  0.746668  0.006365  0.887048  0.902826  0.759350
347  0.287383  0.216209  0.653496  0.613499  0.550063  0.215589
346   0.57608  0.719871  0.730315  0.143528  0.670447  0.416118
345  0.715439  0.891155  0.704797  0.844065  0.674469  0.950799
..        ...       ...       ...       ...       ...       ...
4    0.984805  0.398314  0.313006  0.273240  0.512593  0.804962
3     0.32248  0.506016  0.441003  0.950271  0.039716  0.618518
2    0.226165  0.180031  0.714079  0.219678  0.199918  0.509620
1    0.464619  0.911924  0.268208  0.864268  0.058634  0.433188
0         0.5  0.984914  0.561820  0.402945  0.852868  0.239163

[350 rows x 6 columns]

In [125]:
Ndf.sort_index(axis=1 , ascending=False)    #sorting column(axis=1) into descending manner.

            5         4         3         2         1         0
0    0.239163  0.852868  0.402945  0.561820  0.984914       0.5
1    0.433188  0.058634  0.864268  0.268208  0.911924  0.464619
2    0.509620  0.199918  0.219678  0.714079  0.180031  0.226165
3    0.618518  0.039716  0.950271  0.441003  0.506016   0.32248
4    0.804962  0.512593  0.273240  0.313006  0.398314  0.984805
..        ...       ...       ...       ...       ...       ...
345  0.950799  0.674469  0.844065  0.704797  0.891155  0.715439
346  0.416118  0.670447  0.143528  0.730315  0.719871   0.57608
347  0.215589  0.550063  0.613499  0.653496  0.216209  0.287383
348  0.759350  0.902826  0.887048  0.006365  0.746668  0.321683
349  0.768901  0.782872  0.256471  0.265889  0.333332  0.045646

[350 rows x 6 columns]

In [127]:
Ndf2 = Ndf  #pointing Ndf with Ndf2.

In [128]:
Ndf2    #printing Ndf2.

            0         1         2         3         4         5
0         0.5  0.984914  0.561820  0.402945  0.852868  0.239163
1    0.464619  0.911924  0.268208  0.864268  0.058634  0.433188
2    0.226165  0.180031  0.714079  0.219678  0.199918  0.509620
3     0.32248  0.506016  0.441003  0.950271  0.039716  0.618518
4    0.984805  0.398314  0.313006  0.273240  0.512593  0.804962
..        ...       ...       ...       ...       ...       ...
345  0.715439  0.891155  0.704797  0.844065  0.674469  0.950799
346   0.57608  0.719871  0.730315  0.143528  0.670447  0.416118
347  0.287383  0.216209  0.653496  0.613499  0.550063  0.215589
348  0.321683  0.746668  0.006365  0.887048  0.902826  0.759350
349  0.045646  0.333332  0.265889  0.256471  0.782872  0.768901

[350 rows x 6 columns]

In [129]:
Ndf2[0][0] = 0.8    #changing the value of 1st row and column element of Ndf2.

In [130]:
Ndf #printing ndf.

            0         1         2         3         4         5
0         0.8  0.984914  0.561820  0.402945  0.852868  0.239163
1    0.464619  0.911924  0.268208  0.864268  0.058634  0.433188
2    0.226165  0.180031  0.714079  0.219678  0.199918  0.509620
3     0.32248  0.506016  0.441003  0.950271  0.039716  0.618518
4    0.984805  0.398314  0.313006  0.273240  0.512593  0.804962
..        ...       ...       ...       ...       ...       ...
345  0.715439  0.891155  0.704797  0.844065  0.674469  0.950799
346   0.57608  0.719871  0.730315  0.143528  0.670447  0.416118
347  0.287383  0.216209  0.653496  0.613499  0.550063  0.215589
348  0.321683  0.746668  0.006365  0.887048  0.902826  0.759350
349  0.045646  0.333332  0.265889  0.256471  0.782872  0.768901

[350 rows x 6 columns]

In [131]:
Ndf2 = Ndf.copy()   #instead of pointing, a new dataframe is created using Ndf's data.

In [132]:
Ndf2[0][0] = 0.9    #changing the value of 1st row and column element of Ndf2.

C:\Users\joshr\AppData\Local\Temp\ipykernel_15264\2638231163.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ndf2[0][0] = 0.9

In [133]:
Ndf #printing Ndf.

            0         1         2         3         4         5
0         0.8  0.984914  0.561820  0.402945  0.852868  0.239163
1    0.464619  0.911924  0.268208  0.864268  0.058634  0.433188
2    0.226165  0.180031  0.714079  0.219678  0.199918  0.509620
3     0.32248  0.506016  0.441003  0.950271  0.039716  0.618518
4    0.984805  0.398314  0.313006  0.273240  0.512593  0.804962
..        ...       ...       ...       ...       ...       ...
345  0.715439  0.891155  0.704797  0.844065  0.674469  0.950799
346   0.57608  0.719871  0.730315  0.143528  0.670447  0.416118
347  0.287383  0.216209  0.653496  0.613499  0.550063  0.215589
348  0.321683  0.746668  0.006365  0.887048  0.902826  0.759350
349  0.045646  0.333332  0.265889  0.256471  0.782872  0.768901

[350 rows x 6 columns]

In [134]:
Ndf.loc[0,0] = 0.10 #changing value using loc so the warning does not come up.

In [135]:
Ndf #printing Ndf.

            0         1         2         3         4         5
0         0.1  0.984914  0.561820  0.402945  0.852868  0.239163
1    0.464619  0.911924  0.268208  0.864268  0.058634  0.433188
2    0.226165  0.180031  0.714079  0.219678  0.199918  0.509620
3     0.32248  0.506016  0.441003  0.950271  0.039716  0.618518
4    0.984805  0.398314  0.313006  0.273240  0.512593  0.804962
..        ...       ...       ...       ...       ...       ...
345  0.715439  0.891155  0.704797  0.844065  0.674469  0.950799
346   0.57608  0.719871  0.730315  0.143528  0.670447  0.416118
347  0.287383  0.216209  0.653496  0.613499  0.550063  0.215589
348  0.321683  0.746668  0.006365  0.887048  0.902826  0.759350
349  0.045646  0.333332  0.265889  0.256471  0.782872  0.768901

[350 rows x 6 columns]

In [136]:
Ndf.loc[[1,2],[2,3]]    #printing common elements of 1st and 2nd row and 2nd and 3rd column.

          2         3
1  0.268208  0.864268
2  0.714079  0.219678

In [137]:
Ndf.loc[[1,2],:]    #printing content of 1st and 2nd column.

          0         1         2         3         4         5
1  0.464619  0.911924  0.268208  0.864268  0.058634  0.433188
2  0.226165  0.180031  0.714079  0.219678  0.199918  0.509620

In [138]:
Ndf.loc[:,[2,3]]    #printing content of 2nd and 3rd column.

            2         3
0    0.561820  0.402945
1    0.268208  0.864268
2    0.714079  0.219678
3    0.441003  0.950271
4    0.313006  0.273240
..        ...       ...
345  0.704797  0.844065
346  0.730315  0.143528
347  0.653496  0.613499
348  0.006365  0.887048
349  0.265889  0.256471

[350 rows x 2 columns]

In [141]:
Ndf.loc[(Ndf[0]<0.02)]  #printing values where the values of oth column are less than 0.02.

            0         1         2         3         4         5
95   0.000213  0.594815  0.058264  0.133235  0.498029  0.503159
117  0.016487  0.528482  0.449953  0.904723  0.356018  0.468087
121  0.008044  0.737967  0.489187  0.466689  0.165178  0.885936
133  0.018694  0.920885  0.792935  0.534265  0.726824  0.470437
156  0.005765  0.286478  0.508892  0.827247  0.204722  0.872928
171  0.010963  0.508766  0.391928  0.380368  0.995007  0.598105
212  0.008256  0.121156  0.252056  0.871963  0.675135  0.559410
257  0.006526  0.467059  0.300580  0.101280  0.349640  0.856097
286  0.004237  0.228883  0.736688  0.649495  0.721160  0.900616
318  0.008242  0.043164  0.034943  0.987761  0.630088  0.533974

In [143]:
Ndf.loc[(Ndf[0]<0.02) & (Ndf[3]<0.3)]   #printing values where values of 0th column are less than 0.02 and 3rd are less than 0.3.

            0         1         2         3         4         5
95   0.000213  0.594815  0.058264  0.133235  0.498029  0.503159
257  0.006526  0.467059  0.300580  0.101280  0.349640  0.856097

In [144]:
Ndf.drop([1])   #dropped first row from the dataframe (axis = 0 by default)

            0         1         2         3         4         5
0         0.1  0.984914  0.561820  0.402945  0.852868  0.239163
2    0.226165  0.180031  0.714079  0.219678  0.199918  0.509620
3     0.32248  0.506016  0.441003  0.950271  0.039716  0.618518
4    0.984805  0.398314  0.313006  0.273240  0.512593  0.804962
5    0.083118  0.416641  0.431660  0.676100  0.719642  0.097066
..        ...       ...       ...       ...       ...       ...
345  0.715439  0.891155  0.704797  0.844065  0.674469  0.950799
346   0.57608  0.719871  0.730315  0.143528  0.670447  0.416118
347  0.287383  0.216209  0.653496  0.613499  0.550063  0.215589
348  0.321683  0.746668  0.006365  0.887048  0.902826  0.759350
349  0.045646  0.333332  0.265889  0.256471  0.782872  0.768901

[349 rows x 6 columns]

In [145]:
Ndf.drop([3], axis = 1) #dropped 3rd column(axis = 1).

            0         1         2         4         5
0         0.1  0.984914  0.561820  0.852868  0.239163
1    0.464619  0.911924  0.268208  0.058634  0.433188
2    0.226165  0.180031  0.714079  0.199918  0.509620
3     0.32248  0.506016  0.441003  0.039716  0.618518
4    0.984805  0.398314  0.313006  0.512593  0.804962
..        ...       ...       ...       ...       ...
345  0.715439  0.891155  0.704797  0.674469  0.950799
346   0.57608  0.719871  0.730315  0.670447  0.416118
347  0.287383  0.216209  0.653496  0.550063  0.215589
348  0.321683  0.746668  0.006365  0.902826  0.759350
349  0.045646  0.333332  0.265889  0.782872  0.768901

[350 rows x 5 columns]

In [149]:
Ndf.drop([3,2], axis = 0)   #dropped 3rd and 2nd row from the dataframe(axis = 0).

            0         1         2         3         4         5
0         0.1  0.984914  0.561820  0.402945  0.852868  0.239163
1    0.464619  0.911924  0.268208  0.864268  0.058634  0.433188
4    0.984805  0.398314  0.313006  0.273240  0.512593  0.804962
5    0.083118  0.416641  0.431660  0.676100  0.719642  0.097066
6    0.163245  0.993502  0.500946  0.162928  0.104203  0.911941
..        ...       ...       ...       ...       ...       ...
345  0.715439  0.891155  0.704797  0.844065  0.674469  0.950799
346   0.57608  0.719871  0.730315  0.143528  0.670447  0.416118
347  0.287383  0.216209  0.653496  0.613499  0.550063  0.215589
348  0.321683  0.746668  0.006365  0.887048  0.902826  0.759350
349  0.045646  0.333332  0.265889  0.256471  0.782872  0.768901

[348 rows x 6 columns]

In [150]:
Ndf = Ndf.drop([3,2], axis = 0) #made permenant changes in the dataframe by storing the change.

In [151]:
Ndf #printed dataframe.

            0         1         2         3         4         5
0         0.1  0.984914  0.561820  0.402945  0.852868  0.239163
1    0.464619  0.911924  0.268208  0.864268  0.058634  0.433188
4    0.984805  0.398314  0.313006  0.273240  0.512593  0.804962
5    0.083118  0.416641  0.431660  0.676100  0.719642  0.097066
6    0.163245  0.993502  0.500946  0.162928  0.104203  0.911941
..        ...       ...       ...       ...       ...       ...
345  0.715439  0.891155  0.704797  0.844065  0.674469  0.950799
346   0.57608  0.719871  0.730315  0.143528  0.670447  0.416118
347  0.287383  0.216209  0.653496  0.613499  0.550063  0.215589
348  0.321683  0.746668  0.006365  0.887048  0.902826  0.759350
349  0.045646  0.333332  0.265889  0.256471  0.782872  0.768901

[348 rows x 6 columns]

In [152]:
Ndf.head()  #first 5 rows of dataframe.

          0         1         2         3         4         5
0       0.1  0.984914  0.561820  0.402945  0.852868  0.239163
1  0.464619  0.911924  0.268208  0.864268  0.058634  0.433188
4  0.984805  0.398314  0.313006  0.273240  0.512593  0.804962
5  0.083118  0.416641  0.431660  0.676100  0.719642  0.097066
6  0.163245  0.993502  0.500946  0.162928  0.104203  0.911941

In [153]:
Ndf.reset_index()   #reseted the index.

     index         0         1         2         3         4         5
0        0       0.1  0.984914  0.561820  0.402945  0.852868  0.239163
1        1  0.464619  0.911924  0.268208  0.864268  0.058634  0.433188
2        4  0.984805  0.398314  0.313006  0.273240  0.512593  0.804962
3        5  0.083118  0.416641  0.431660  0.676100  0.719642  0.097066
4        6  0.163245  0.993502  0.500946  0.162928  0.104203  0.911941
..     ...       ...       ...       ...       ...       ...       ...
343    345  0.715439  0.891155  0.704797  0.844065  0.674469  0.950799
344    346   0.57608  0.719871  0.730315  0.143528  0.670447  0.416118
345    347  0.287383  0.216209  0.653496  0.613499  0.550063  0.215589
346    348  0.321683  0.746668  0.006365  0.887048  0.902826  0.759350
347    349  0.045646  0.333332  0.265889  0.256471  0.782872  0.768901

[348 rows x 7 columns]

In [154]:
Ndf.reset_index(drop = True)    #dropped the unwanted index column which was created.

            0         1         2         3         4         5
0         0.1  0.984914  0.561820  0.402945  0.852868  0.239163
1    0.464619  0.911924  0.268208  0.864268  0.058634  0.433188
2    0.984805  0.398314  0.313006  0.273240  0.512593  0.804962
3    0.083118  0.416641  0.431660  0.676100  0.719642  0.097066
4    0.163245  0.993502  0.500946  0.162928  0.104203  0.911941
..        ...       ...       ...       ...       ...       ...
343  0.715439  0.891155  0.704797  0.844065  0.674469  0.950799
344   0.57608  0.719871  0.730315  0.143528  0.670447  0.416118
345  0.287383  0.216209  0.653496  0.613499  0.550063  0.215589
346  0.321683  0.746668  0.006365  0.887048  0.902826  0.759350
347  0.045646  0.333332  0.265889  0.256471  0.782872  0.768901

[348 rows x 6 columns]