In [2]:
import numpy as np
import pandas as pd

In [ ]:
dict1 = {
    "name":['Josh', 'Jayshil', 'Pravin', 'Aakash', 'Krenil'],
    "marks":[80, 85, 82, 75, 70],
    "state":['Gujarat','Rajasthan','Tamilnadu', 'Rajasthan', 'Gujarat'] #created a dictionary.
}

In [4]:
df = pd.DataFrame(dict1)    #crated a dataframe with arranged data.

In [5]:
df

      name  marks      state
0     Josh     80    Gujarat
1  Jayshil     85  Rajasthan
2   Pravin     82  Tamilnadu
3   Aakash     75  Rajasthan
4   Krenil     70    Gujarat

In [6]:
df.to_csv('friends.csv')    #crated a csv file and addded data to it.

In [10]:
df.to_csv('friends_indexfalse.csv', index=False)    #created another csv but with no index.